<!-- display username -->

  <h1>Welcome <%= @user.username.capitalize %></h1>

<!-- logout button -->
  <form method="post" action="/login">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="logout">
  </form>

<!-- edit profile button -->
  <form method="get" action="/users/<%= @user.id %>/edit">
    <input type="submit" value="Edit Profile">
  </form>

<!-- #of followers, #of following -->
  <h3>You have <%= @user.followers.count %>
    <!-- singular vs. plural follower s -->
      <% if @user.followers.count == 1 %> follower <% else %> followers <% end %>
    and are following <%= @user.followees.count %>
    <!-- singular vs. plural users -->
      <% if @user.followees.count == 1 %> user.<% else %> users.<% end %>
  </h3>

<!-- new tweet form -->
  <form method="post" action="/users/<%= @user.id %>/tweets">
    <textarea name="tweet" placeholder="Tweet your thoughts to the world!"></textarea>
    <input type="submit" value="Tweet">
  </form>

<!-- display followee tweets (each tweet is an article) --!>
  <!-- tweets.each do |tweet|
    <article>tweet</article>
    end -->

<!-- followers -->
  <h3>Your followers:</h3>
  <% @user.followers.each do |follower| %>
    <p><a href="/<%= follower.username %>"><%= follower.username %></a></p>
  <% end %>

<!-- following -->
  <h3>You are following:</h3>
  <% @user.followees.each do |followee| %>
    <p><a href="/<%= followee.username %>"><%= followee.username %></a></p>
  <% end %>

  <h3>Read some Tweets:</h3>
  <ul>
    <% @user.followees.map(&:tweets).flatten.sort_by(&:updated_at).each do |tweet| %>
      <li>"<%= tweet.text %>" -<%= tweet.user.username %></li>
    <% end %>
  </ul>
